* {
    border: 1px solid #000;
}

html {
    font-family: Helvetica, Arial, sans-serif;
    width: 1024px;
    background-color: gray;
}

header {
    display: flex;
    align-items: strech;
}

header>* {
    margin:0px;
}

h1 {
    background-color: rgb(255, 255, 128);
    flex:1 1 content;
}

header>dl {
    background-color: blue;
    display: flex;
    justify-content: start;
    align-items: strech;
    flex:1 1 content;
    text-align: left;
}

header>dl>li {
    display:  inline;
    background-color: #74992e;
    padding:2%;
}

header>a {
    text-align: center;
    flex:1 1 content;
    background-color: pink;
    padding:1%;
}

div[title="middle part"]{
    display: flex;
    background-color: black;
}

div[title="middle part"]>*{
    padding:2%;
}

div[title="main contents"]{
    background-color: yellow;
    display: flex;
    flex:2 1 content;
    align-items: strech;
    flex-direction: column;
    justify-items:strech;
}

div[title="articles"]{
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
    align-items: strech;
    justify-items:strech;
}

article {
    margin:1%;
    flex: 1 1 47%;
    background-color: green;
}

aside {
    background-color: red;
    display:inline-flex;
    flex-direction: column;
    flex:1 2 content;
}

footer {
    padding:1%;
    background-color: blue;
    text-align:center;
}

.form {
    padding:15%;
}

.form>* {
    border-radius: 5%;
}

.form>*[type="text"]{
    display:block;
}

input[type="password"]{
    display:block;
}

.form>h2 {
    text-transform: uppercase;
}
