* {
    border: 1px solid #000;
    margin:0px;
}
body {
    font-family: sans-serif;
    width: 1024px;
    background-color: gray;
}

header {
    display: flex;
    align-items: strech;
}

h1 {
    background-color: rgb(255, 255, 128);
    flex-grow:1;
}

header>ol {
    background-color: blue;
    display: flex;
    justify-content: start;
    align-items: strech;
    flex-grow:1;
    text-align: center;
    padding:0px;
}

header>ol>li {
    display:  inline;
    background-color: #74992e;
    vertical-align: middle;
    padding:1%;
}


header>a {
    text-align: center;
    flex-grow:1;
    background-color: pink;
}

footer {
    padding:1em;
    background-color: blue;
}

div[title="main contents"]{
    background-color: yellow;
    display: inline-flex;
    width:74%;
    align-items: strech;
    flex-direction: column;
    justify-items:strech;
    padding:1%;
}


article {
    margin:1%;
    flex-grow:2;
    background-color: green;
}


div[title="articles"]{
    background-color: yellow;
    display: flex;
    align-items: strech;
    justify-items:strech;
}


aside {
    background-color: red;
    display:inline-flex;
    align-items: strech;
    flex-direction: column;
    width:20%;
    padding:1%;
}


